<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./css/materialize.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style type="text/css">
	a.waves-effect {
		width: 300px;
	}

	</style>

	<title>Fooda</title>
</head>
<body class="grey darken-4">

	<header>
		<nav class="green darken-3">
			<div class="container">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo">Register</a>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<div class="row" style="margin-top: 50px;">
				<div class="input-field col s12">
					<a class="waves-effect waves-light btn">Register as a User</a>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<a class="waves-effect waves-light btn">Register as a Store</a>
				</div>
			</div>
		</div>
	</main>

	<script src="./js/materialize.min.js"></script>
</body>
</html>