div{
	
	padding: 10px;

	border: 2px solid white;
    border-radius: 25px;
    color: white;

}
p{
	font-size: 18px;
	font-style: arial;
}
#one{
	margin-right: 35%;
	margin-left: 35%;
}
#three{
	background-color: black;
}