div {
	display: block;\
	min-height: 1px;
	width: 380px;
	margin-bottom: 30px;
	overflow: hidden;
}

div.header {
	position: relative;
	height: auto;
	height: 39px;
}

div.header > h1 {
	display: inline;
	width: 180px;
	height: 38px;

	margin-top: 0px;
	margin-bottom: 0px;
	
	position: absolute;
	left: 0px;
	top: 0px;
}

div.header > h4 {
	display: inline;
	width: 200px;
	text-align: right;

	margin-top: 0px;
	margin-bottom: 0px;
	
	position: absolute;
	right: 0px;
	bottom: 5px;
}

div.body {
	position: relative;
	text-align: center;
	width: 400px;
}

a:focus, a:visited, a:active {
	color: blue;
}